@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #151019;
  --bg-secondary: #1d1623;
  --color-1: #ffffff;
  --color-2: #000000;
  --color-3: #0f0b12;
  --font-1: "Poppins", sans-serif;
  --font-2: "Raleway", sans-serif;
}

.font-2 {
  font-family: var(--font-2);
}

body {
  font-family: var(--font-1);
  color: var(--color-1);
  background-color: var(--bg-primary);
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
